.formulario{
    background-color: #efecec;
    margin-left: -15px;
    margin-right: -15px;
    padding: 30px 15px 30px 15px;
    box-shadow: 0 3px 5px #989898;
}

.formulario__grupo{
   margin-bottom: 15px; 
}

.formulario__label{
    color: #343434;
}

.formulario__campo{
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    width: 100%;
    padding: 10px 5px; 
}

.formulario__botao{
    background-color: #fff;
    display: block;
    margin: 0 auto;
    border: 1px solid #ff4444;
    color: #ff4444;
    border-radius: 20px;
    padding: 10px 30px;
    cursor: pointer;
}

.mapa{
    background: #f00;
    height: 0;
    padding-bottom: 100%;
    position: relative;
    overflow: hidden;
    margin: 0 -15px -25px -15px;
}

.mapa iframe {
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    top: 0;
    left: 0;
}



