*{
    box-sizing: border-box;

}

img{
    max-width: 100%;
    height: auto;
}

.text-center{
    text-align: center;
}

@font-face{
    font-family: "Source Sans Pro";
    src: url(../fonts/source-sans-pro/SourceSansPro-Regular.otf);
}

@font-face{
    font-family: "Source Sans Pro";
    src: url(../fonts/source-sans-pro/SourceSansPro-Bold.otf);
    font-weight: bold;
}

@font-face{
    font-family: "Source Sans Pro";
    src: url(../fonts/source-sans-pro/SourceSansPro-BlackIt.otf);
    font-weight: bold;
    font-style: italic;
}


body{
    font-family: "Source Sans Pro";
}

.cabecalho{
    background: #fff;
    padding: 15px;
}

.logo{
    background-image: url("../img//logotipo-preto.png");
    background-repeat: no-repeat;
    display: block;
    width: 120px;
    height: 53px;
    text-indent: -9999px;
    margin: 0;
}

.logo--branco{
    background-image: url("../img//logotipo-branco.png");
}

/*Menu principal */

.menu-principal__btn{
    display: block;
    width: 50px;
    height: 50px;
    text-indent: -9999px;
    background-color: #fff;
    background-image: url(../img/menuprincipal-btn-bg.png);
    background-repeat: no-repeat;
    background-position: 7px 9px;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    cursor: pointer;

    position: absolute;
    top: 15px;
    right: 15px;
}


.menu-principal__btn--fechar{
    background-position: -46px 9px;
}

.menu-principal__lista{
    padding: 0;
    list-style: none;
}

.menu-principal__item{
    text-decoration: none;
    font-weight: bold;
    color: #343434;
    margin-bottom: 10px;
    display: block; /*margin só vai funcionar com display block*/
    font-size: 18px;
}

.menu-principal__item--atual{
 color: #f44242;
}

/*Rodapé*/

.rodape{
    color:#fff;
}

.rodape .logo {
    margin-bottom: 20px;
}
.rodape__linha-1{
    background-color: #272525;
    background-image: url('../img/rodape-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15px;
}

.rodape__coluna{
    margin-top: 40px;
    margin-bottom: 40px;
}

.rodape__titulo{
    border-bottom: 1px solid #fff;
    padding: 0 10px 10px 10px;
    font-size: 18px;
}

.rodape__lista-links{
 padding: 0;
 list-style: none;
}

.rodape__lista-links__item{
    text-decoration: none;
    color: #fff;
    margin-bottom: 10px;
    display: block;
}

.rodape__lista-links__item::before{
    content: '>';
    margin-right: 8px;
    color: #f44242;
}


.rodape__linha-2{
    background-color: #000;
    text-align: center;
    padding: 15px;
}

/* Falta isso aqui para scss*/

/*Header páginas internas*/
.pagina-cabecalho {
    background-color: #dd3f3f;
    background-image: url('../img/cabecalho-pagina-bg.jpg');
    background-attachment: fixed;
    color: #fff;
    padding: 40px  0;
 }
 
 .pagina-cabecalho__titulo{
     text-align: center;
     text-transform: uppercase;
     border: 0 0 3px 0 solid #fff;
 }
 
 .pagina-cabecalho__titulo::after{
     content: '';
     display: block;
     margin: 0 auto;
     width: 50px;
     height: 3px;
     background-color: #fff;
     margin-top: 20px;
 }

/*Fim header páginas internas*/
/*Section conteúdo páginas internas*/
.pagina-conteudo{
    padding: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.pagina-conteudo p {
    color: #3a3a3a;
    line-height: 22px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*Fim section conteúdo páginas internas */

/*Estilização conteúdo página Home*/

.cabecalho-home{
    background: url('../img/cabecalho-home-bg.jpg') #000 no-repeat;
    background-size: cover;
    text-align: center;
    padding: 50px 20px; /*eu editei para ficar melhor*/
    color: #fff;
}

.cabecalho-home__titulo{
   font-size: 40px;
   font-weight: bold;
   margin-bottom: 0px;
}

.cabecalho-home__role {
  display: none;
  text-decoration: none;
  color: #fff
}


.home__titulo{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;
}


.home__titulo::after{
    content: '';
    display: block;
    width: 50px;
    height: 3px;
    background-color: #f44242;
    margin: 0 auto;
    margin-top: 15px;
}

.home__titulo--branco::after{
    background-color: #fff;
}

.servicos__item{
    text-align: center;
    padding: 0 15px;
    margin-bottom: 50px;
}

.servicos__texto{
    color: #585858;
}

.depoimentos{
    background-color: #dd3f3f;
    background-image: url(../img/cabecalho-pagina-bg.jpg);
    background-attachment: fixed;
    color: #fff;
    padding: 30px 0;
}

.depoimentos__item{
    padding: 0 15px;
}

.depoimentos__img{
    display: block;
    margin: 0 auto;
    box-shadow: 3px 3px 0 #000;
    margin-bottom: 30px;
}

.depoimentos__texto{
    line-height: 24px;
    margin-bottom: 30px;
}

.depoimentos__texto::before{
    background: url('../img/aspas.png') no-repeat;
    content: '';
    display: inline-block;
    height: 23px;
    width: 25px;
    margin-right: 5px;
}

.depoimentos__pessoa{
    text-align: center;
    font-weight: bold;
    font-style: italic;
}


/*Fim Estilização contéudo página Home */
