@charset "UTF-8";
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0; }

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block; }

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent; }

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder; }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%; }

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none; }

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible; }

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none; }

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline; }

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto; }

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block; }

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item; }

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none; }

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none; }

@font-face {
  font-family: "Source Sans Pro";
  src: url(../fonts/source-sans-pro/SourceSansPro-Regular.otf); }

@font-face {
  font-family: "Source Sans Pro";
  src: url(../fonts/source-sans-pro/SourceSansPro-Bold.otf);
  font-weight: bold; }

@font-face {
  font-family: "Source Sans Pro";
  src: url(../fonts/source-sans-pro/SourceSansPro-BlackIt.otf);
  font-weight: bold;
  font-style: italic; }

* {
  box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto; }

body {
  font-family: "Source Sans Pro"; }

.rodape {
  color: #fff; }

.rodape .logo {
  margin-bottom: 20px; }

.rodape__linha-1 {
  background-color: #272525;
  background-image: url("../img/rodape-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15px; }

.rodape__coluna {
  margin-top: 40px;
  margin-bottom: 40px; }

.rodape__titulo {
  border-bottom: 1px solid #fff;
  padding: 0 10px 10px 10px;
  font-size: 18px; }

.rodape__lista-links {
  padding: 0;
  list-style: none; }

.rodape__lista-links__item {
  text-decoration: none;
  color: #fff;
  margin-bottom: 10px;
  display: block; }

.rodape__lista-links__item::before {
  content: '>';
  margin-right: 8px;
  color: #f44242; }

.rodape__linha-2 {
  background-color: #000;
  text-align: center;
  padding: 15px; }

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px; }
  @media (min-width: 576px) {
    .container {
      width: 540px; } }
  @media (min-width: 768px) {
    .container {
      width: 720px; } }
  @media (min-width: 992px) {
    .container {
      width: 960px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1140px; } }

.cabecalho {
  background: #fff;
  padding: 15px;
  position: fixed;
  width: 100%; }
  @media (min-width: 768px) {
    .cabecalho {
      min-height: 100px; }
      .cabecalho .logo {
        float: left;
        margin-top: 10px; }
      .cabecalho .menu-principal {
        margin-top: 12px;
        float: right; }
        .cabecalho .menu-principal__lista {
          margin-bottom: 0; } }

.text-center {
  text-align: center; }

.depoimentos {
  background-color: #dd3f3f;
  background-image: url(../img/cabecalho-pagina-bg.jpg);
  background-attachment: fixed;
  color: #fff;
  padding: 30px 0; }

.depoimentos__item {
  padding: 0 15px; }

.depoimentos__img {
  display: block;
  margin: 0 auto;
  box-shadow: 3px 3px 0 #000;
  margin-bottom: 30px; }

.depoimentos__texto {
  line-height: 24px;
  margin-bottom: 30px; }

.depoimentos__texto::before {
  background: url("../img/aspas.png") no-repeat;
  content: '';
  display: inline-block;
  height: 23px;
  width: 25px;
  margin-right: 5px; }

.depoimentos__pessoa {
  text-align: center;
  font-weight: bold;
  font-style: italic; }

.formulario {
  background-color: #efecec;
  margin-left: -15px;
  margin-right: -15px;
  padding: 30px 15px 30px 15px;
  box-shadow: 0 3px 5px #989898; }

.formulario__grupo {
  margin-bottom: 15px; }

.formulario__label {
  color: #343434; }

.formulario__campo {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  width: 100%;
  padding: 10px 5px; }

.formulario__botao {
  background-color: #fff;
  display: block;
  margin: 0 auto;
  border: 1px solid #ff4444;
  color: #ff4444;
  border-radius: 20px;
  padding: 10px 30px;
  cursor: pointer; }

.logo {
  background-image: url("../img//logotipo-preto.png");
  background-repeat: no-repeat;
  display: block;
  width: 120px;
  height: 53px;
  text-indent: -9999px;
  margin: 0;
  border: 1px solid black; }

.logo--branco {
  background-image: url("../img//logotipo-branco.png"); }

.mapa {
  background: #f00;
  height: 0;
  padding-bottom: 100%;
  position: relative;
  overflow: hidden;
  margin: 0 -15px -25px -15px; }

.mapa iframe {
  width: 100% !important;
  height: 100% !important;
  position: absolute;
  top: 0;
  left: 0; }

.menu-principal__btn {
  display: block;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
  background-color: #fff;
  background-image: url(../img/menuprincipal-btn-bg.png);
  background-repeat: no-repeat;
  background-position: 7px 9px;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px; }
  @media (min-width: 768px) {
    .menu-principal__btn {
      display: none; } }

.menu-principal__btn--fechar {
  background-position: -46px 9px; }

.menu-principal__lista {
  padding: 0;
  list-style: none; }
  @media (min-width: 768px) {
    .menu-principal__lista li {
      display: inline-block;
      margin: 0 10px; } }

.menu-principal__item {
  text-decoration: none;
  font-weight: bold;
  color: #343434;
  margin-bottom: 10px;
  display: block;
  /*margin só vai funcionar com display block*/
  font-size: 18px; }

.menu-principal__item--atual {
  color: #f44242; }

.pagina-cabecalho {
  background-color: #dd3f3f;
  background-image: url("../img/cabecalho-pagina-bg.jpg");
  background-attachment: fixed;
  color: #fff;
  padding: 40px  0; }

.pagina-cabecalho__titulo {
  text-align: center;
  text-transform: uppercase;
  border: 0 0 3px 0 solid #fff; }

.pagina-cabecalho__titulo::after {
  content: '';
  display: block;
  margin: 0 auto;
  width: 50px;
  height: 3px;
  background-color: #fff;
  margin-top: 20px; }

.pagina-conteudo {
  padding: 15px;
  padding-top: 25px;
  padding-bottom: 25px;
  overflow: auto; }
  .pagina-conteudo p {
    color: #3a3a3a;
    line-height: 22px;
    margin-top: 20px;
    margin-bottom: 20px; }
  .pagina-conteudo img {
    float: left;
    margin-right: 10px; }

.servicos {
  padding: 30px 0px;
  overflow: auto; }
  .servicos__item {
    text-align: center;
    margin-bottom: 50px; }
    @media (min-width: 768px) {
      .servicos__item {
        float: left;
        width: 33.333%; } }
  .servicos__texto {
    color: #585858; }

.lista-trabalhos {
  list-style: none;
  padding: 0; }

.lista-trabalhos a {
  text-decoration: none; }

.lista-trabalhos__item {
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 50px; }

.lista-trabalhos__titulos {
  color: #000;
  font-size: 18px;
  margin-left: 15px;
  border-left: 2px solid #000;
  padding-left: 10px; }

.cabecalho-home {
  background: url("../img/cabecalho-home-bg.jpg") #000 no-repeat;
  background-size: cover;
  text-align: center;
  padding: 50px 20px;
  /*eu editei para ficar melhor*/
  color: #fff; }
  @media (min-width: 992px) {
    .cabecalho-home {
      height: 100vh; } }

.cabecalho-home__titulo {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 0px; }

.cabecalho-home__role {
  display: none;
  text-decoration: none;
  color: #fff; }

.home__titulo {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px; }

.home__titulo::after {
  content: '';
  display: block;
  width: 50px;
  height: 3px;
  background-color: #f44242;
  margin: 0 auto;
  margin-top: 15px; }

.home__titulo--branco::after {
  background-color: #fff; }
