.cabecalho-home{
    background: url('../img/cabecalho-home-bg.jpg') #000 no-repeat;
    background-size: cover;
    text-align: center;
    padding: 50px 20px; /*eu editei para ficar melhor*/
    color: #fff;

    @media(min-width: $breakpoint-lg) {
        height: 100vh;
    }
}

.cabecalho-home__titulo{
   font-size: 40px;
   font-weight: bold;
   margin-bottom: 0px;
}

.cabecalho-home__role {
  display: none;
  text-decoration: none;
  color: #fff
}


.home__titulo{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;
}


.home__titulo::after{
    content: '';
    display: block;
    width: 50px;
    height: 3px;
    background-color: #f44242;
    margin: 0 auto;
    margin-top: 15px;
}

.home__titulo--branco::after{
    background-color: #fff;
}