.lista-trabalhos{
    list-style: none;
    padding: 0;
}

.lista-trabalhos a{
    text-decoration: none;
}

.lista-trabalhos__item{
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 50px;
}

.lista-trabalhos__titulos{
    color: #000;
    font-size: 18px;
    margin-left: 15px;
    border-left: 2px solid #000;
    padding-left: 10px;
}
