.cabecalho{
    background: #fff;
    padding: 15px;
    position: fixed;
    width: 100%;
    @media(min-width: $breakpoint-md){
        min-height: 100px;
        .logo{
            float: left;
            margin-top: 10px;
        }
        .menu-principal{
            margin-top: 12px;
            float: right;
            &__lista{
                margin-bottom: 0;
            }
        }
    }
}