.rodape{
    color:#fff;
}

.rodape .logo {
    margin-bottom: 20px;
}
.rodape__linha-1{
    background-color: #272525;
    background-image: url('../img/rodape-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15px;
}

.rodape__coluna{
    margin-top: 40px;
    margin-bottom: 40px;
}

.rodape__titulo{
    border-bottom: 1px solid #fff;
    padding: 0 10px 10px 10px;
    font-size: 18px;
}

.rodape__lista-links{
 padding: 0;
 list-style: none;
}

.rodape__lista-links__item{
    text-decoration: none;
    color: #fff;
    margin-bottom: 10px;
    display: block;
}

.rodape__lista-links__item::before{
    content: '>';
    margin-right: 8px;
    color: #f44242;
}


.rodape__linha-2{
    background-color: #000;
    text-align: center;
    padding: 15px;
}