.depoimentos{
    background-color: #dd3f3f;
    background-image: url(../img/cabecalho-pagina-bg.jpg);
    background-attachment: fixed;
    color: #fff;
    padding: 30px 0;
}

.depoimentos__item{
    padding: 0 15px;
}

.depoimentos__img{
    display: block;
    margin: 0 auto;
    box-shadow: 3px 3px 0 #000;
    margin-bottom: 30px;
}

.depoimentos__texto{
    line-height: 24px;
    margin-bottom: 30px;
}

.depoimentos__texto::before{
    background: url('../img/aspas.png') no-repeat;
    content: '';
    display: inline-block;
    height: 23px;
    width: 25px;
    margin-right: 5px;
}

.depoimentos__pessoa{
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

