.logo{
    background-image: url("../img//logotipo-preto.png");
    background-repeat: no-repeat;
    display: block;
    width: 120px;
    height: 53px;
    text-indent: -9999px;
    margin: 0;
    border: 1px solid black;
}

.logo--branco{
    background-image: url("../img//logotipo-branco.png");
}