
.menu-principal__btn{
    display: block;
    width: 50px;
    height: 50px;
    text-indent: -9999px;
    background-color: #fff;
    background-image: url(../img/menuprincipal-btn-bg.png);
    background-repeat: no-repeat;
    background-position: 7px 9px;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
    @media(min-width: $breakpoint-md) {
        display: none;
    }
}


.menu-principal__btn--fechar{
    background-position: -46px 9px;
}

.menu-principal__lista{
    padding: 0;
    list-style: none;
    
    @media(min-width: $breakpoint-md) {
        li{
            display: inline-block;
            margin: 0 10px;
        }
    }
}

.menu-principal__item{
    text-decoration: none;
    font-weight: bold;
    color: #343434;
    margin-bottom: 10px;
    display: block; /*margin só vai funcionar com display block*/
    font-size: 18px;
}

.menu-principal__item--atual{
 color: #f44242;
}
