.pagina-cabecalho {
    background-color: #dd3f3f;
    background-image: url('../img/cabecalho-pagina-bg.jpg');
    background-attachment: fixed;
    color: #fff;
    padding: 40px  0;

 }
 
 .pagina-cabecalho__titulo{
     text-align: center;
     text-transform: uppercase;
     border: 0 0 3px 0 solid #fff;
 }
 
 .pagina-cabecalho__titulo::after{
     content: '';
     display: block;
     margin: 0 auto;
     width: 50px;
     height: 3px;
     background-color: #fff;
     margin-top: 20px;
 }
