.pagina-conteudo{
    padding: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
    overflow: auto;
    p {
        color: #3a3a3a;
        line-height: 22px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    img{
        float: left;
        margin-right: 10px;
    }
}


