.servicos{
    padding: 30px 0px;
    overflow: auto;
    &__item{
        text-align: center;
        margin-bottom: 50px;
        @media(min-width: $breakpoint-md){
            float: left;
            width: 33.333%;
        }
    }
    &__texto{
        color: #585858;
    }
}
