@font-face{
    font-family: "Source Sans Pro";
    src: url(../fonts/source-sans-pro/SourceSansPro-Regular.otf);
}

@font-face{
    font-family: "Source Sans Pro";
    src: url(../fonts/source-sans-pro/SourceSansPro-Bold.otf);
    font-weight: bold;
}

@font-face{
    font-family: "Source Sans Pro";
    src: url(../fonts/source-sans-pro/SourceSansPro-BlackIt.otf);
    font-weight: bold;
    font-style: italic;
}
